@import '.fonts/stylesheet.css';

*{
    margin: 0;
    padding: 0;
}


.congratulation{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
}

.congr__content-btn{
    padding: 10px 10px;
    border-radius: 20px;
    background: goldenrod;
    font-size: 22px;
    font-weight: 900;
    color: #000;
    border: none;
    border-style: none;
}

.btn2{
    display: none;
    padding: 10px 10px;
    border-radius: 20px;
    background: #fff;
    font-size: 22px;
    font-weight: 900;
    color: black;
    border: none;
    border-style: none;
    margin-top: 30px;
}

.congr__content{
    margin-top: 20px;
    display: none;
    width: 60%;
    height: 80%;
    background: url('congr__img.jpg') 50% 50% / cover no-repeat;
    border-radius: 20px;
}

.text{
    width: 320px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 20px;
    color: black;
    background: #fff;
    text-align: center;
    padding: 20px 10px;
    margin-bottom: 20px;
    display: none;
    font-family: Kanit;
}
.text2{
    width: 230px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 20px;
    color: black;
    background: #fff;
    text-align: center;
    padding: 20px 20px;
    display: none;  
    font-family: Kanit;
}

.secret__img{
display: none;
}