@font-face {
    font-family: 'Kanit';
    src: url('Kanit-BoldItalic.eot');
    src: url('Kanit-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Kanit-BoldItalic.woff2') format('woff2'),
        url('Kanit-BoldItalic.woff') format('woff'),
        url('Kanit-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

